@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
    user-select: none;
  }
}

@layer utilities {
  .root {
    @apply flex min-h-screen w-full flex-col bg-a-2 lg:flex-row;
  }

  .root-container {
    @apply mt-16 flex-1 overflow-auto py-8 lg:mt-0 lg:max-h-screen lg:py-10;
  }

  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .search {
    @apply flex w-full rounded-[16px] border-2 bg-white px-4 shadow-sm md:max-w-96;
  }

  .sidebar {
    @apply hidden h-screen w-72 border-r border-a-6 bg-a-2 p-5 shadow-md lg:flex;
  }

  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full text-a-1/60 flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply flex-center p-16-semibold text-white/80 w-full whitespace-nowrap rounded-full bg-cover transition-all hover:bg-white/20;
  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }

  .dropdown-content {
    @apply shadow-lg rounded-md overflow-hidden p-0;
  }

  .dropdown-item {
    @apply p-16-semibold text-dark-700 cursor-pointer transition-all px-4 py-3 rounded-none outline-none hover:border-none focus-visible:ring-transparent hover:text-white hover:bg-purple-gradient hover:bg-cover focus-visible:ring-offset-0 focus-visible:outline-none !important;
  }

  .input-field {
    @apply rounded-[16px] border-2 shadow-sm text-dark-600 disabled:opacity-100 p-16-semibold h-[50px] md:h-[54px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-dark-600 w-full placeholder:text-dark-400 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }
  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }
  .header {
    @apply flex-between fixed h-16 w-full border-b border-zinc-900 bg-a-2 p-5 lg:hidden;
  }

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }

  .search {
    @apply flex w-full rounded-[16px] border-2 bg-white px-4 shadow-sm md:max-w-96;
  }
}

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 8px; /* height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #00000000; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #2d2d2dec; /* color of the handle */
  border-radius: 5px; /* rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6e6ebc; 
}
.cl-userButtonBox {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}
.bgimg {
  background-image: url("/bg-gradientsvg.svg");
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
  background-position-x: 90%;
}
@media (max-width: 1024px) {
  .bgimg {
    background-image: url("/bg-gradientsvg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: 90%;
    background-position-y: 100%;
  }
}

.cl-internal-1j7ahlv {
  width: 3rem;
  height: 3rem;
}

.cl-userButtonOuterIdentifier {
  font-family: "Sora" sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.cExCyF{
  
}
.jJLOff{}

.jJLOff > .nav-tabs{

}